{% extends "./base.html" %}
{% load static %}
{% block title %}
Home Zlecenia
{% endblock %}
{}
{% block page_css %}
<link rel="stylesheet" href="{% static 'contracts/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="homediv"> <!--herosec-->
    <div class="content"> <!--herocontet-->
        {% if user.is_authenticated %}
            <h1>Witaj {{name}} jestem wiedzmin Geralt</h1>
            <div class="buttons"> <!--herobuttons-->
                <a href="{% url 'contractlist' %}" class="btn btn-crimson">Przeglądaj Zlecenia</a>
                <a href="{% url 'contractcreate' %}" class="btn btn-dark">Złóż zlecenie</a>

            </div>
        {% else %}
            <h1>Witaj nieznajomy - jestem wiedzmin Geralt</h1>
            <div class="buttons">
                <a href="{% url 'contractlist' %}" class="btn btn-crimson">Przeglądaj Zlecenia</a>
                <a href="{% url 'login' %}" class="btn btn-dark">Zaloguj</a>
            </div>
        
        {% endif %}
    </div>
</div>
{% endblock %}
