.homediv{
    position:relative;
    background-image:url("/static/contracts/images/mainpicture.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content: center;
    min-height:950px;
    min-height: 100vh;
    margin:0;
    padding:0;
    overflow:hidden;
    
}
.content{
    position:relative;
    color:#b8b8b7;
    z-index: 2;
    text-align: center;
    padding:20px;
}
.content h1{
    font-size: 3rem;
    margin-bottom:2rem;
    color:#b8b8b7;
    text-shadow:2px 2px 4px rgba(0,0,0,0.8);
}