@font-face{
    font-family:'Witcher';
    src: url('./fonts/MasonSerifRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #1b1b2a;
    font-family: Helvetica;
    font-size:22px;
    margin: 0 auto;
}
nav{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;


    
    
    
    
}
a{
    font-family:'Witcher',serif;
    text-decoration: none;
    font-weight: 600;
    font-size:2.4rem;
}
a:link, a:visited{
    color:#b8b8b7;

}

nav img{
    height:40px;
    margin-top:3px;
    margin-left:20px;
}
.taskbar ul{
    display:flex;
    justify-content:space-around;
    width:700px;
    margin-left:-10px;
}
#task,#in{
    color:#b8b8b7;
    
    
}
#task:hover{
    color:crimson;
}
.inout{
    margin-left:auto;
    margin-right:20px;
}
.inout ul{
    display: flex;
    
    justify-content: space-between;
}
.inout ul li{
    margin-left:30px;
}
#in{
    font-size: 2rem;
    color:#b8b8b7;


}
#in:hover{
    color:crimson;
}
footer{
    display:flex;
    justify-content: center;
    align-items:center;
    color:seashell;
    margin-left:20px;
    opacity:0.9
}
